<div class="jumbotron mt-3">
    <div class="container">
    <h1 class="display-3">Curso de Angular</h1>
    <p>Una aplicación hecha en Angular que informa sobre Angular!!!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Leer
    más</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>TypeScript</h3>
           <p>Introducción a TypeScript. La idea es ver cómo nos ayuda TypeScript
            escribiendo código. </p>
           <p><a class="btn btn-secondary" href="#" role="button">Leer más
           &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Componentes</h3>
           <p>Creación de componentes y entender que es un componente de angular. </p>
           <p><a class="btn btn-secondary" href="#" role="button">Leer más
           &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Directivas</h3>
           <p>¿Qué son las directivas? ¿Cuales se utilizan más? </p>
           <p><a class="btn btn-secondary" href="#" role="button">Leer más
           &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Rutas</h3>
           <p>Nos permiten cargar distintos ficheros HTML en una web SPA. </p>
           <p><a class="btn btn-secondary" href="#" role="button">Leer más
           &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Servicios</h3>
           <p>Nos permiten interactuar con los datos e independizan nuestra aplicación de su acceso. </p>
           <p><a class="btn btn-secondary" href="#" role="button">Leer más
           &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Formularios</h3>
           <p>Utilidade que nos ayudan a generar formularios para introducir datos. </p>
           <p><a class="btn btn-secondary" href="#" role="button">Leer más
           &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Inyección</h3>
           <p>Cómo podemos utilizar en Angular el patrón de inyección de dependencias. </p>
           <p><a class="btn btn-secondary" href="#" role="button">Leer más
           &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Binding</h3>
           <p>Nos permiten enlazar la información de los formularios con nuestros modelos. </p>
           <p><a class="btn btn-secondary" href="#" role="button">Leer más
           &raquo;</a></p>
        </div>
    </div>
    
</div>
