<div class="ancho">
  <hr>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2 style="width: 30%;">Me gustan: {{ totalLikes }}</h2>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 1rem; width: 60%;">
      <button 
        (click)="nuevoTema()" 
        style="margin-right: 16px; background-color: #424242; color: #fff; border: none; border-radius: 8px; padding: 8px 16px; display: flex; align-items: center; gap: 6px;">
        <i class="fas fa-plus" style="color: #fff;"></i>
        Añadir tema
      </button>
      <div style="display: flex; align-items: center;">
        <input 
          [(ngModel)]="busqueda" 
          placeholder="Buscar tema por título"
          style="border-top-left-radius: 6px; border-bottom-left-radius: 6px; border-top-right-radius: 0; border-bottom-right-radius: 0; border: 1px solid #ccc; padding: 6px 12px; outline: none;"
        >
        <span style="display: inline-flex; align-items: center; justify-content: center; height: 36px; width: 36px; border: 2px solid #888; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-top-left-radius: 0; border-bottom-left-radius: 0; background: #fff;">
          <i class="fas fa-search" style="color: #888;"></i>
        </span>
      </div>
      <ul *ngIf="busqueda" style="position: absolute; background: #fff; z-index: 10; margin-top: 40px; list-style: none; padding: 0; width: 250px;">
        <li *ngFor="let t of temasFiltrados()">
          <a [routerLink]="['/formulario', t.id]">{{ t.titulo }}</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4" *ngFor="let tema of temas">
      <app-temario-tarjeta [tema]="tema" (contadorEnviar)="actualizarLikes($event)"></app-temario-tarjeta>
      <!-- Aquí pasan los datos a la tarjeta -->
    </div>
  </div>
</div>